// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-regular.eot');
  src: url('../fonts/proxima-nova/proxima-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima-nova/proxima-regular.woff') format('woff'),
       url('../fonts/proxima-nova/proxima-regular.ttf') format('truetype'),
       url('../fonts/proxima-nova/proxima-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-semibold.eot');
  src: url('../fonts/proxima-nova/proxima-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima-nova/proxima-semibold.woff') format('woff'),
       url('../fonts/proxima-nova/proxima-semibold.ttf') format('truetype'),
       url('../fonts/proxima-nova/proxima-semibold.svg#proxima_nova_rgsemibold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-bold.eot');
  src: url('../fonts/proxima-nova/proxima-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima-nova/proxima-bold.woff') format('woff'),
       url('../fonts/proxima-nova/proxima-bold.ttf') format('truetype'),
       url('../fonts/proxima-nova/proxima-bold.svg#proxima_nova_rgbold') format('svg');
  font-weight: 600;
  font-style: normal;
}

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Base ----- //

$c-main-color: #EA5653;
$c-text: #555555;

// ----- Components ----- //

$modal-background: rgba(0, 0, 0, 0.85);
$modal-content-background: $c-main-color;
$modal-text: #FFFFFF;

$formInput-background: #FFFFFF;
$formInput-border: #EDEAE8;
$formInput-color: #5B5854;

$formSubmit-color: $c-main-color;
$formSubmit-background-hover: #FAFAFA;

// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$b-borderRadius: 5px;
$b-inputBorderRadius: 3px;
$b-borderStyle: solid;
$b-borderWidth: 2px;

// ----- Typography ----- //

$b-fontFamily: 'Proxima Nova';
$b-fontSize: 16px;
$b-lineHeight: 1.2;
$b-fontSemiBold: 400;
$b-fontBold: 600;

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

$g-s: rem(768px);
$g-m: rem(992px);
$g-l: rem(1200px);
