// *************************************
//
//   Instructions
//   -> Individual style containers
//
// *************************************

$component: c-instructions;

.#{ $component } {
  display: block;
  margin: 8% auto;
  max-width: rem(500px);
  width: 85%;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Logo ----- //

.#{ $component }__logo {
  display: block;
  margin: 0 0 8%;
}

// ----- Description ----- //

.#{ $component }__description {
  font-size: rem(14px);
  line-height: rem(22px);
  margin: 0;
}
