// *************************************
//
//   Modal
//   -> Individual style containers
//
// *************************************

$component: c-modal;

.#{ $component } {
	align-items: center;
	justify-content: center;
  background-color: $modal-background;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Show ----- //

.#{ $component }--show {
  display: flex;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.#{ $component }-content {
  background-color: $modal-content-background;
  border-radius: $b-borderRadius;
  color: $modal-text;
  margin: rem(15px);
  overflow: hidden;
  padding: rem(30px);
  position: relative;
  z-index: 2;

  @include respond-to($g-s) {
    padding: rem(60px) rem(100px) rem(30px);
  }

  @include respond-to($g-m) {
    padding: rem(60px);
  }
}

// ----- Close ----- //

.#{ $component }-close {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  right: rem(30px);
  top: rem(30px);

  &:before {
    content: 'X';
    font-size: rem(25px);
  }
}

// ----- Header ----- //

.#{ $component }-header {
  margin-bottom: rem(10px);
}

// ----- Header Title ----- //

.#{ $component }-header__title {
  font-size: rem(24px);
  font-weight: $b-fontSemiBold;
  margin: 0 0 rem(25px);
  text-align: center;

  @include respond-to($g-s) {
    font-size: rem(28px);
  }
}

// ----- Header Text ----- //

.#{ $component }-header__text {
  font-size: rem(14px);
  margin: 0 auto;
  max-width: rem(435px);
  text-align: center;

  @include respond-to($g-s) {
    font-size: rem(18px);
  }
}

// ----- Form ----- //

.#{ $component }-form {
  margin: 0 auto;
  max-width: rem(375px);
  position: relative;

  @include respond-to($g-m) {
  	justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: rem(685px);
    max-width: rem(685px);
  }
}

// ----- Buddy ----- //

.#{ $component }-buddy {
  display: none;
  text-align: center;
  margin-top: rem(15px);
  position: relative;
  bottom: rem(-10px);
  left: 50%;
  height: rem(50px);
  transform: translateX(-50%);

  @include respond-to($g-s) {
    display: block;
  }

  @include respond-to($g-m) {
    bottom: rem(-30px);
    height: auto;
    left: 0;
    order: 1;
    transform: translateX(0);
    width: 45%;
  }
}

// ----- Buddy Image ----- //

.#{ $component }-buddy__image {
  display: block;
  margin: 0 auto;
  width: rem(80px);

  @include respond-to($g-m) {
    width: auto;
  }
}
